<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <style>
       
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="border">
                    <div class="header">
                        <h1 class="word">Register</h1>
                    </div>
                    <form action="{{ url_for('register') }}" method="post">
                        {{ register_form.hidden_tag() }}
                        {{ register_form.username(class="textbox form-control mb-3") }}
                        {{ register_form.password(class="textbox form-control mb-3", placeholder="Enter Your Password") }}
                        {{ register_form.password_confirm(class="textbox form-control mb-3", placeholder="Confirm Your Password") }}
                        {{ register_form.register() }}
                    </form>
                    <p class="bottom">Already have an account? <a class="bottom" href="{{ url_for('login') }}">Sign In here</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
